.nav-logo {
  height: 3rem;
  width: fit-content;
  object-fit: contain;
}

.separator {
  width: 1px;
  height: 30px;
  background-color: var(--color-primary-light);
}

.badge-pro {
  background-color: var(--color-accent);
  color: var(--color-white);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 0.90rem;
  margin-left: 4px;
  display: inline-block;
  line-height: 1;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-area{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  object-fit: contain;
}

.nav-content {
  height: 4.5rem;
  background-color: var(--color-primary);
  padding: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  position: sticky;
  top: 0;
  z-index: 100 !important;
}

.botones-nav li {
  width: auto;
}

.botones-nav a {
  text-decoration: none;
}

.botones-nav a:hover {
  border-radius: 3px;
  cursor: pointer;
  color: var(--color-hover);
}

.nav-style-text {
  color: var(--color-white);
  font-weight: 500;
  font-size: 1rem;
}

.menu-toggle {
  padding: 1rem;
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  z-index: 10;
  background: var(--color-primary);
  border: var(--color-gray) 0.01px solid;
}

.botones-nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.bar {
  width: 25px;
  height: 2px;
  background-color: var(--color-gray);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.nav-text {
    font-size: 0.75rem !important;
  }

.search-container {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-white);
  padding: 2px 6px;
  margin: 0 0.75rem;
  max-width: 800px;
  flex: 1;
  min-width: 0;
}

.search-container input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
  font-size: 0.85rem;
  color: var(--color-gray);
}

.search-container button {
  border: none;
  background: transparent;
  border-left: 1px solid var(--color-gray);
  padding: 6px 10px;
  cursor: pointer;
  color: var(--color-gray);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.2s ease;
}

.search-container button:hover {
  filter: brightness(1.1);
  transform: scale(1.02);
}

.ingreso{
  display: flex;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: var(--color-white);
  font-weight: 600;
  font-size: 1rem;
  border: 1px var(--color-gray) solid;

}

.ingreso svg{
  height: 90%;
  width: 90%;
  position: relative;
  top: 0.7rem;
  color: rgb(255, 255, 255);
}

.lista-busqueda-rapida {
  list-style: none;
  padding: 0;
  margin: 0;
}

.lista-busqueda-rapida p, 
.lista-busqueda-rapida li {
  padding: 10px 15px;
  margin: 0;
  border-bottom: 1px solid #eee;
  transition: background 0.2s;
  color: var(--color-primary-dark);
}

.lista-busqueda-rapida p:hover, 
.lista-busqueda-rapida li:hover {
  background-color: var(--color-surface); 
  color: var(--color-accent);
}


.lista-busqueda-rapida p:last-child {
  border-bottom: none;
}

.busqueda-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#desplegado {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: var(--color-white);
  z-index: 10000 !important ;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  max-height: 250px;
  overflow-y: auto; 
}

@media (max-width: 1200px) {
  .logo-area {
    order: 1;
  }

  .separator,
  .text-container {
    display: none;
  }

  .search-container {
    order: 2;
    flex-grow: 1;
    width: auto;
  }

  .ingreso {
    order: 3;
    margin-left: 0;
    padding: 2.5px 10px;
    font-size: 1.1rem;
    border: var(--color-gray) 0.01px solid;
  }

  .ingreso-text {
    display: none;
  }

  .menu-toggle {
    order: 4;
    display: flex;
    margin-left: 0.5rem;
  }

  .botones-nav {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 4.5rem;
    left: 0;
    width: 100%;
    background-color: var(--color-primary-dark);
    z-index: 1000;
  }

  .botones-nav.active {
    display: flex;
  }

  .botones-nav li {
    width: 100%;
  }

  .botones-nav li:hover {
    border-radius: 0px;
    background-color: var(--color-primary-opacity);
  }
}


