body {
  background-color: var(--gris-claro);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bg-light {
  background-color: var(--blanco) !important;
  border-left: 5px solid var(--verde-acento);
}

.scale-hover:hover {
  transform: scale(1.2);
  transition: transform 0.3s ease;
}
