/* CAMPOS */
.fs-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

/* LABELS */
.fs-label {
  font-weight: 400;
  margin-bottom: 5px;
  color: var(--color-dark);
}

/* INPUTS */
.fs-input,
.fs-textarea {
  border-radius: 8px;
  border: 1px solid var(--color-border);
  padding: 10px;
  transition: all 0.3s ease;
}

/* EFECTO FOCUS */
.fs-input:focus,
.fs-textarea:focus {
  border-color: var(--color-primary);
  box-shadow: 0 0 0 2px rgba(45, 90, 61, 0.2);
  outline: none;
}